.header {
  padding-top: 9px;
  padding-bottom: 9px;
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  background-color: white;
  z-index: 99;

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  .first-part {
    max-width: 139px;

    @media screen and (min-width: 768px) {
      max-width: 149px;
    }
  }
}
