<section class="cta">
    <div class="container">
      <div class="row">
        <img
          src="./img/marketing/logo.png"
          class="cta__logo"
          alt="Xeokit logo"
          loading="eager"
          decoding="async"
        />
        <h1 class="cta__subtitle">BIM Object Viewer</h1>
        <h2 class="cta__title">
          Designed to make your large 3D BIM models simple
        </h2>
        <div class="cta__buttons-wrapper">
          <a href="#contact" class="btn btn-primary">Contact Us</a>
          <a href="https://xeokit.io" target="_blank" rel="noopener" class="btn btn-outline-secondary"> Discover </a>
        </div>
        <img
          src="./img/marketing/cta-order.png"
          class="cta__order"
          alt="Quality certificate"
          loading="eager"
          decoding="async"
        />
      </div>
    </div>
  </section>