<section class="image-text-white">
    <div class="container">
      <div class="row">
        <div class="block-row block-row--reverse">
          <div class="col-12 col-md-6 image-wrapper">
            <img
              src="./img/marketing/image-text_img2.png"
              class="image-text__image"
              alt="Monitor image"
              loading="lazy"
              decoding="async"
            />
          </div>
          <div class="col-12 col-md-6">
            <div class="image-text__text-wrapper">
              <p class="image-text__text">
                Seven BIM models with double-precision coordinates
                representing the City of Lyon (France), viewed interactively
                in the browser.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>