<header class="header">
    <div class="container">
      <div class="row">
        <nav class="header__content">
          <div class="header__logo-wrapper">
            <a  href="https://xeokit.io/">
              <img
                src="./img/marketing/logo.png"
                class="first-part"
                alt="Xeokit logo"
                loading="eager"
                decoding="async"
              />
            </a>
            <a  href="https://creoox.com/" target="_blank" rel="noopener">
              <img
                src="./img/marketing/logo2.png"
                alt="Creoox logo"
                loading="eager"
                decoding="async"
              />
            </a>
          </div>
          <a href="https://calendly.com/xeokit-wk/45min" target="_blank" rel="noopener noreferrer" class="btn btn-outline-primary">Book a call</a>
        </nav>
      </div>
    </div>
  </header>