<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xeokit - BIM Object Viewer</title>
    <meta name="description" content="View your BIM objects in detail with xeokit 3D online viewer. Perfect for architects, engineers, and construction professionals, xeokit offers great bim viewer.">
    <meta name="keywords" content="BIM Object Viewer, 3D model online, 3D online viewer, BIM Viewer, Javascript IFC, Javascript viewer, Javascript glb">
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
    <link rel="canonical" href="https://xeokit.io/for-business.html">
    <link rel="alternate" href="https://xeokit.io/fur-das-geschaft.html" hreflang="de">
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/marketing.css" rel="stylesheet"  />
    <link rel="shortcut icon" href="./favicon.ico" />
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Xeokit - BIM Object Viewer">
    <meta property="og:site_name" content="Xeokit">
    <meta property="og:url" content="https://xeokit.io/for-business.html">
    <meta property="og:description" content="View your BIM objects in detail with xeokit 3D online viewer. Perfect for architects, engineers, and construction professionals, xeokit offers great bim viewer.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="./img/marketing/xeokit_3d_bim_viewer.png">

<!-- Start cookieyes banner --> <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/a3a23638b4c88c568b93abd5/script.js"></script> <!-- End cookieyes banner -->  </head>
  <body>