<section class="text-images">
    <div class="container">
      <div class="row">
        <div class="text-images__text-wrapper">
          <div class="first-part">
            <span class="text-images__subtitle">INDUSTRIES</span>
            <h2 class="text-images__title">A perfect match</h2>
          </div>
          <div class="second-part">
            <p class="text-images__text">
              Discover new opportunities for your business through digital
              transformation into the world of Building Information Modeling
            </p>
          </div>
        </div>
        <div class="text-images__images-wrapper">
          <div class="item">
            <p class="item__text">Construction<br />Industry</p>
            <img
              src="./img/marketing/text-images_image1.jpg"
              class="item__image"
              alt="Image for Images Text Block"
              loading="lazy"
              decoding="async"
              width="281"
              height="323"
            />
          </div>
          <div class="item">
            <p class="item__text">Infrastructure<br />Industry</p>
            <img
              src="./img/marketing/text-images_image2.jpg"
              class="item__image"
              alt="Image for Images Text Block"
              loading="lazy"
              decoding="async"
              width="281"
              height="323"
            />
          </div>
          <div class="item">
            <p class="item__text">Oil & Gas<br />Industry</p>
            <img
              src="./img/marketing/text-images_image3.jpg"
              class="item__image"
              alt="Image for Images Text Block"
              loading="lazy"
              decoding="async"
              width="281"
              height="323"
            />
          </div>
          <div class="item">
            <p class="item__text">Power & Energy<br />Industry</p>
            <img
              src="./img/marketing/text-images_image4.jpg"
              class="item__image"
              alt="Image for Images Text Block"
              loading="lazy"
              decoding="async"
              width="281"
              height="323"
            />
          </div>
        </div>
      </div>
    </div>
  </section>