<section class="text-video">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-5 first-col">
          <span class="text-video__subtitle">BENEFITS</span>
          <h2 class="text-video__title">Empower your software</h2>
          <div class="text-video__text">
            <p>
              Xeokit allows to efficiently unlock potential and achieve
              extraordinary results.
            </p>
            <p>
              Move faster, stay protected, challenge the status quo,
              collaborate smarter.
            </p>
          </div>
          <div class="text-video__buttons-wrapper">
            <a href="#contact" class="btn btn-primary">Contact Us</a>
            <a href="https://calendly.com/xeokit-wk/45min" target="_blank" rel="noopener noreferrer"  class="btn btn-outline-primary"> Book a call </a>
          </div>
          <div class="text-video__video-wrapper d-none d-lg-block">
            <div class="responsive-iframe">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/Q9pukZc-6eA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div> 
          </div>
        </div>
        <div class="col-12 col-lg-7">
          <ul class="list">
            <li class="list__item">
              <h3 class="list__item__title">
                ULTRA-PERFORMANCE - enhanced visualization
              </h3>
              <p class="list__item__text">
                Easy and reliable navigation within complex and large
                dimensional BIM models with double precision. Viewing large
                3D BIM models was never easier.
              </p>
            </li>
            <li class="list__item">
              <h3 class="list__item__title">
                FULL OWNERSHIP - data security
              </h3>
              <p class="list__item__text">
                Critical & important data for strategic BIM projects and
                files within your closed environment. It is your decision
                how your projects are managed and where they are hosted
              </p>
            </li>
            <li class="list__item">
              <h3 class="list__item__title">
                CROSS-PLATFORMING - scalability
              </h3>
              <p class="list__item__text">
                Web-based and mobile friendly Viewer supports the most
                popular BIM formats including RVT, IFC and many more. Give
                your software the power to view large 3D BIM files wherever
                you are.
              </p>
            </li>
            <li class="list__item">
              <h3 class="list__item__title">
                INTEROPERABILITY - improved collaboration
              </h3>
              <p class="list__item__text">
                A growing collection of plugins and loaders in addition to
                the core Xeokit to achieve a more seamless model transfer.
                Share your work regardless of the CAD/BIM software.
              </p>
            </li>
          </ul>
        </div>
        <div class="text-video__video-wrapper d-block d-lg-none mt-5">
          <div class="responsive-iframe">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Q9pukZc-6eA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>