<section class="cta">
    <div class="container">
      <div class="row">
        <img
          src="./img/marketing/logo.png"
          class="cta__logo"
          alt="Xeokit logo"
          loading="eager"
          decoding="async"
        />
        <h1 class="cta__title">
          Ihre komplexe 3D BIM Modelle leicht gemacht
        </h1>
        <div class="cta__buttons-wrapper">
          <a href="#contact" class="btn btn-primary">Kontakt</a>
          <a href="https://xeokit.io" target="_blank" rel="noopener" class="btn btn-outline-secondary"> Mehr erfahren </a>
        </div>
        <img
          src="./img/marketing/cta-order.png"
          class="cta__order"
          alt="Quality certificate"
          loading="eager"
          decoding="async"
        />
      </div>
    </div>
  </section>