<section class="image-text-color">
    <div class="container">
      <div class="row">
        <div class="image-text__subtitle">FALLSTUDIEN</div>
        <h2 class="image-text__title">Beispiele</h2>
        <div class="block-row">
          <div class="col-12 col-md-6">
            <div class="image-text__text-wrapper">
              <p class="image-text__text">
                2028 Kopien des IFC Modells von West Riverside Hospital,
                interaktiv im Browser angezeigt
              </p>
              <div class="image-text__additional-info">
                <span class="image-text__additional-info__first"
                  >8.5 MIO. OBJEKTE</span
                >
                <span>2.5 MRD. DREIECKE</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 image-wrapper">
            <img
              src="./img/marketing/image-text_img1.png"
              class="image-text__image"
              alt="Monitor image"
              loading="lazy"
              decoding="async"
            />
          </div>
        </div>
      </div>
    </div>
  </section>