<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xeokit</title>
    <meta name="description" content="Zeigen Sie Ihre BIM-Objekte im Detail mit dem xeokit 3D-Online-Viewer an. Xeokit ist perfekt für Architekten, Ingenieure und Bauprofis und bietet einen großartigen BIM-Viewer.">
    <meta name="keywords" content="BIM Object Viewer, 3D model online, 3D online viewer, BIM Viewer, Javascript IFC, Javascript viewer, Javascript glb">
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
    <link rel="canonical" href="https://xeokit.io/fur-das-geschaft.html">
    <link rel="alternate" href="https://xeokit.io/for-business.html" hreflang="en">
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/marketing.css" rel="stylesheet"  />
    <link rel="shortcut icon" href="./favicon.ico" />
    <meta property="og:locale" content="de_DE">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Xeokit - BIM Object Viewer">
    <meta property="og:site_name" content="Xeokit">
    <meta property="og:url" content="https://xeokit.io/fur-das-geschaft.html">
    <meta property="og:description" content="Zeigen Sie Ihre BIM-Objekte im Detail mit dem xeokit 3D-Online-Viewer an. Xeokit ist perfekt für Architekten, Ingenieure und Bauprofis und bietet einen großartigen BIM-Viewer.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="./img/marketing/xeokit_3d_bim_viewer.png">

<!-- Start cookieyes banner --> <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/a3a23638b4c88c568b93abd5/script.js"></script> <!-- End cookieyes banner -->  </head>
  <body>