<section class="text-images">
    <div class="container">
      <div class="row">
        <div class="text-images__text-wrapper">
          <div class="first-part">
            <span class="text-images__subtitle">BRANCHEN</span>
            <h2 class="text-images__title">Ein perfektes Match</h2>
          </div>
          <div class="second-part">
            <p class="text-images__text">
              Neue Möglichkeiten für Ihr Geschäft durch digitale
              Transformation in die BIM Welt entdecken
            </p>
          </div>
        </div>
        <div class="text-images__images-wrapper">
          <div class="item">
            <p class="item__text">Bauwesen</p>
            <img
              src="./img/marketing/text-images_image1.jpg"
              class="item__image"
              alt="Image for Bauwesen"
              loading="lazy"
              decoding="async"
              width="281"
              height="323"
            />
          </div>
          <div class="item">
            <p class="item__text">Infrastruktur</p>
            <img
              src="./img/marketing/text-images_image2.jpg"
              class="item__image"
              alt="Bild für Infrastruktur"
              loading="lazy"
              decoding="async"
              width="281"
              height="323"
            />
          </div>
          <div class="item">
            <p class="item__text">Öl- und <br />Gasindustrie</p>
            <img
              src="./img/marketing/text-images_image3.jpg"
              class="item__image"
              alt="Bild für Text Öl- und Gasindustrie"
              loading="lazy"
              decoding="async"
              width="281"
              height="323"
            />
          </div>
          <div class="item">
            <p class="item__text">Energie- und<br />Kraftwirtschaft</p>
            <img
              src="./img/marketing/text-images_image4.jpg"
              class="item__image"
              alt="Bild für Energie- und Kraftwirtschaft"
              loading="lazy"
              decoding="async"
              width="281"
              height="323"
            />
          </div>
        </div>
      </div>
    </div>
  </section>