<section class="text-video">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-5 first-col">
              <span class="text-video__subtitle">NUTZEN</span>
              <h2 class="text-video__title">Ihre Prozesse Befähigen</h2>
              <div class="text-video__text">
                <p>
                  Xeokit ermöglicht es, Potenziale effizient zu erschließen und
                  außergewöhnliche Ergebnisse zu erzielen.
                </p>
                <p>
                  Schneller vorankommen, geschützt bleiben, den Status quo
                  hinterfragen und schlauer zusammenarbeiten.
                </p>
          </div>
          <div class="text-video__buttons-wrapper">
            <a href="#contact" class="btn btn-primary">Kontakt</a>
            <a href="https://calendly.com/xeokit-wk/45min" target="_blank" rel="noopener noreferrer"  class="btn btn-outline-primary">Termin buchen</a>
          </div>
          <div class="text-video__video-wrapper d-none d-lg-block">
            <div class="responsive-iframe">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/Q9pukZc-6eA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div> 
          </div>
        </div>
        <div class="col-12 col-lg-7">
          <ul class="list">
            <li class="list__item">
              <h3 class="list__item__title">
                HOCHLEISTUNG - optimierte Visualisierung
              </h3>
              <p class="list__item__text">
                Leichte und zuverlässige Navigation innerhalb komplexer und
                großdimensionaler BIM Modelle mit doppelter Genauigkeit.
                Große 3D BIM Modelle anzusehen war nie einfacher.
              </p>
            </li>
            <li class="list__item">
              <h3 class="list__item__title">
                VOLLSTÄNDIGER BESITZ - Datensicherheit
              </h3>
              <p class="list__item__text">
                Kritische und wichtige Daten für strategische BIM Projekte
                und Dateien innerhalb Ihrer geschlossener Umgebung. Es ist
                Ihre Entscheidung, wie Ihre Projekte gesteuert werden und wo
                sie gehostet werden
              </p>
            </li>
            <li class="list__item">
              <h3 class="list__item__title">
                PLATTFORMÜBERGREIFEND - Skalierbarkeit
              </h3>
              <p class="list__item__text">
                Der webbasierte und mobilfreundliche Viewer unterstützt die
                meist verbreiteten BIM Formate, inkl. RVT, IFC uvm. Geben
                Sie Ihrer Software die Macht, große 3D BIM Dateien
                anzuzeigen wo immer Sie sind.
              </p>
            </li>
            <li class="list__item">
              <h3 class="list__item__title">
                INTEROPERABILITÄT - verbesserte Zusammenarbeit
              </h3>
              <p class="list__item__text">
                Eine wachsende Sammlung von Plugins und Loaders zusätzlich
                zum Xeokit-Kern schafft eine nahtlose Modellübertragung.
                Teilen Sie Ihre Arbeit unabhängig von der CAD/BIM Software.
              </p>
            </li>
          </ul>
        </div>
        <div class="text-video__video-wrapper d-block d-lg-none mt-5">
          <div class="responsive-iframe">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Q9pukZc-6eA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>