<section class="main-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <p><b>xeokit</b> is a software development kit from <a href="http://xeolabs.com" target="_xeolabs">xeolabs</a> for
                    interacting with high-detail 3D engineering models in the browser.</p>
                <p>The open source xeokit SDK provides a high-performance, purpose-built WebGL-based
                    3D engine with a bundled library of plugins focused on BIM and engineering. The engine uses advanced
                    rendering
                    techniques to view and interact with real-world engineering models in most major browsers, on both
                    desktop and mobile platforms.</p>
            </div>
        </div>
    </div>
</section>