<section class="main-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="mt-4">3D Web Programming Toolkit<br>for AEC Visualization</h1>
                <p><b>xeokit</b> is an open source SDK from <a href="http://xeolabs.com" target="_xeolabs">xeolabs</a> for
                    interacting with high-detail 3D engineering models in the browser.</p>
                <p>The xeokit SDK provides a high-performance, purpose-built WebGL-based
                    3D engine with a bundled library of plugins focused on BIM and engineering. The engine uses advanced
                    rendering
                    techniques to view and interact with real-world engineering models in most major browsers, on both
                    desktop and mobile platforms.</p>
                <br>
                <p><a class="btn btn-primary btn-lg" href="./demo.html?projectId=OTCConferenceCenter&tab=storeys">Try a demo
                    &raquo;</a></p>
            </div>
        </div>
    </div>
</section>