<section id="contact" class="main-section">
    <div class="container">
        <!--        <div class="row testimonial-row">-->
        <!--            <h1>xeokit is used by..</h1>-->
        <!--        </div>-->

        <div class="col-lg-12">
            <h1>Get in Contact</h1>
            <br>
            <p>The xeokit SDK is used and trusted by industry leaders, including:</p>
        </div>

        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
    <!--    </div>-->
</section>