<section id="faq" class="main-section alabaster">

    <div class="container">

        <div class="row testimonial-row center-text">
            <div class="col-lg-12">
                <h1>FAQ</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mx-auto">
                <div class="accordion shadow" id="xeokitFaq">

                    <div class="card">
                        <div class="card-header p-2" id="headingSeven">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseSeven" aria-expanded="false"
                                        aria-controls="collapseSeven">
                                    Q: What makes xeokit special?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                             data-parent="#xeokitFaq">
                            <div class="card-body">
                                <b>Answer: </b><br><br>
                                <p>When it comes to high-performance BIM/AEC visualization, xeokit has several
                                    capabilities
                                    that set it apart from standard Web graphics libraries:</p>
                                <ul>
                                    <li><b>Fast loading</b> - ultra-compact native file geometry format loads hundreds
                                        of thousands of objects over the Web in seconds.
                                    </li>
                                    <li><b>Fast rendering</b> - purpose-built to fluidly visualize hundreds of thousands
                                        of objects in the browser.
                                    </li>
                                    <li><b>Double-precision rendering</b> - accurately view
                                        building model geometry in global coordinates.
                                    </li>
                                    <li><b>BIM/AEC-friendly programming API</b> - a complete JavaScript graphics
                                        programming
                                        toolkit, with an API designed specially for BIM/AEC applications.
                                    </li>
                                    <li><b>Plugins</b> - a library of plugins to accelerate BIM/AEC application
                                        development.
                                    </li>
                                    <li><b>Freedom</b> - host viewer, models and conversion tools on your own servers -
                                        no issues with data sovereignty, no reliance on 3rd-party cloud services.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header p-2" id="headingSix">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Q: Who are the people behind xeokit?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#xeokitFaq">
                            <div class="card-body">
                                <b>Answer: </b><br><br>
                                <p>The xeokit SDK is a partnership between:</p>
                                <ul>
                                    <li><b><a href="http://xeolabs.com">xeolabs</a></b> - created xeokit in 2019, based
                                        on 10+ years experience visualizing 3D BIM and STEM in the browser.
                                    </li>
                                    <li><b><a href="https://creoox.com/en">Creoox AG</a></b> - xeokit's official and
                                        exclusive business partner, handling sales and CRM, and supporting business
                                        development.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-2" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Q: Which WebGL library does xeokit use?
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                             data-parent="#xeokitFaq">
                            <div class="card-body">
                                <b>Answer: </b><br><br>
                                The xeokit SDK has its own WebGL engine, which is specially designed to
                                visualize complex, full-precision BIM and engineering models.<br><br>
                                The engine uses our own special blend of techniques to interactively render
                                models containing hundreds of thousands of individual parts, in all major browsers,
                                including mobile.<br><br>
                                The engine also distinguishes itself by supporting double-precision
                                rendering on WebGL, which only supports single-precision natively. This means that we
                                can render buildings
                                in their original, global coordinate system, without rounding errors. [<a
                                    href="https://xeokit.github.io/xeokit-sdk/examples/#BIMOffline_XKT_DoublePrecision_MAP"
                                    target="_examples">Try a demo</a>]
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-2" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Q: What file formats does xeokit load?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#xeokitFaq">
                            <div class="card-body">
                                <b>Answer: </b><br><br>The xeokit SDK loads (at least) IFC (2x3 & 4), CityJSON, glTF, OBJ, 3DS, STL,
                                3DXML, LAS, LAZ, PLY and XKT.<br><br>
                                XKT is xeokit's highly-optimized native geometry format, which allows xeokit to load
                                hundreds
                                of thousands of full-precision objects in seconds. XKT files are converted from various
                                source formats using open source CLI tools.<br><br>

                                <b>Learn more:</b><br><br>
                                <ul>
                                    <li><a
                                            href="https://www.notion.so/xeokit/Viewing-an-IFC-Model-with-xeokit-c373e48bc4094ff5b6e5c5700ff580ee">Viewing
                                        an IFC Model with xeokit</a></li>
                                    <li><a
                                            href="https://www.notion.so/xeokit/Viewing-a-Point-Cloud-with-xeokit-c45cdaae64514170be91c37d6827c9ca">Viewing
                                        a Point Cloud with xeokit</a></li>
                                    <li><a
                                            href="https://www.notion.so/xeokit/Viewing-Multiple-Models-with-xeokit-71b73627d97840f7887275ea6ac4ed4a">Viewing
                                        Multiple Models with xeokit</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-2" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Q: How do I view my IFC file with xeokit?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#xeokitFaq">
                            <div class="card-body">
                                <b>Answer: </b><br><br>Use open source CLI tools to convert IFC STEP files into xeokit's
                                compressed native model format, XKT, which xeokit can then load super quickly into its
                                browser-based viewer.<br><br>The XKT format contains all the model's geometry and
                                elements, along with some basic metadata to help navigate the IFC types. The format
                                format greatly reduces the model size. As an example, the 49M IFC file for the
                                Schependomlaan sample model converted
                                into an 1.5M XKT file, which xeokit loads in around ~2-3 seconds over a good Internet
                                connection.<br><br>
                                <b>Learn more:</b><br><br>
                                <ul>
                                    <li><a
                                            href="https://www.notion.so/xeokit/Viewing-an-IFC-Model-with-xeokit-c373e48bc4094ff5b6e5c5700ff580ee">Viewing
                                        an IFC Model with xeokit</a></li>
                                    <li><a
                                            href="https://xeokit.github.io/xeokit-sdk/examples/#BIMOffline_XKT_Schependomlaan">View
                                        the Schependomlaan Model</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header p-2" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Q: Can I edit and save IFC files with xeokit?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#xeokitFaq">
                            <div class="card-body">
                                <b>Answer: </b><br><br>No - authoring of IFC is outside the scope of xeokit, which is
                                intended to be used as a front-end visualization tool.<br><br>In order to modify and
                                save IFC
                                files,
                                xeokit would need to load, persist, modify and validate (potentially huge) IFC documents
                                models in browser memory, which would not be practical.<br><br>Rather, xeokit's focus is
                                efficient interaction with large models, which we pre-convert from IFC to a compact and
                                fast-loading format that permits large models to fit in browser memory.<br><br>
                                <b>Learn more:</b><br><br>
                                <ul>
                                    <li><a
                                            href="https://www.notion.so/xeokit/Viewing-an-IFC-Model-with-xeokit-c373e48bc4094ff5b6e5c5700ff580ee">Viewing
                                        an IFC Model with xeokit</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--                                        <div class="card">-->
                    <!--                                            <div class="card-header p-2" id="headingFive">-->
                    <!--                                                <h5 class="mb-0">-->
                    <!--                                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"-->
                    <!--                                                            data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">-->
                    <!--                                                        Q: How do I view my Revit model with xeokit?-->
                    <!--                                                    </button>-->
                    <!--                                                </h5>-->
                    <!--                                            </div>-->
                    <!--                                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#xeokitFaq">-->
                    <!--                                                <div class="card-body">-->
                    <!--                                                    The answer to this question can go here. This FAQ example can contain all the Q/A that-->
                    <!--                                                    is needed.-->
                    <!--                                                </div>-->
                    <!--                                            </div>-->
                    <!--                                        </div>-->


                    <!--                    <div class="card">-->
                    <!--                        <div class="card-header p-2" id="headingSeven">-->
                    <!--                            <h5 class="mb-0">-->
                    <!--                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"-->
                    <!--                                        data-target="#collapseSeven" aria-expanded="false"-->
                    <!--                                        aria-controls="collapseSeven">-->
                    <!--                                    Q: How is xeokit licensed?-->
                    <!--                                </button>-->
                    <!--                            </h5>-->
                    <!--                        </div>-->
                    <!--                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"-->
                    <!--                             data-parent="#xeokitFaq">-->
                    <!--                            <div class="card-body">-->
                    <!--                                The answer to this question can go here. This FAQ example can contain all the Q/A that-->
                    <!--                                is needed.-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="card">-->
                    <!--                        <div class="card-header p-2" id="headingEight">-->
                    <!--                            <h5 class="mb-0">-->
                    <!--                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"-->
                    <!--                                        data-target="#collapseEight" aria-expanded="false"-->
                    <!--                                        aria-controls="collapseEight">-->
                    <!--                                    Q: What support can you offer my team if we use xeokit?-->
                    <!--                                </button>-->
                    <!--                            </h5>-->
                    <!--                        </div>-->
                    <!--                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight"-->
                    <!--                             data-parent="#xeokitFaq">-->
                    <!--                            <div class="card-body">-->
                    <!--                                The answer to this question can go here. This FAQ example can contain all the Q/A that-->
                    <!--                                is needed.-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>

            </div>
        </div>

    </div>

</section>