<section id="features" class="main-section alabaster">
    <div class="container">
        <div class="row testimonial-row">
            <div class="col-lg-12">
                <h1>xeokit Features</h1>
            </div>
        </div>
        <div class="row  testimonial-row">
            <div class="col-lg-6">
                <h3>Display your Models in the Browser</h3>
                <p>Get your models on the Web using a toolkit of production-proven components
                    that save you costly research, development and maintenance.</p>
                <ul>
                    <li><b>Load models from your own server</b>.<br>Keep data, viewer and conversion tools on your
                        own servers. No overloaded cloud services, or unpredictable costs. No hassles with data
                        protection laws.
                    </li>
                    <li><b>Works in all major browsers</b>.<br>Including mobile, without plugins.</li>
                    <li><b>Completely open source</b>.<br>You get the <a
                            href="https://github.com/xeokit"
                            target="_code">source code</a>. Customize and extend it however you want.
                    </li>
                    <li><b>Open community of experts</b>.<br>Join our community of 3D Web programming experts and
                        industry leaders.
                        Share our tools and get support.
                    </li>
                    <li><b>Training resources</b>.<br>Including <a
                            href="https://xeokit.github.io/xeokit-sdk/examples/#BIMOffline_XKT_OTCConferenceCenter"
                            target="_examples">examples</a>,
                        <a
                                href="https://xeokit.github.io/xeokit-sdk/docs/" target="_docs">documentation</a> and <a
                                href="https://github.com/xeokit/xeokit-sdk/wiki" target="_wiki">tutorials</a>.
                    </li>
                    <li><b>Tap into xeolabs' ongoing research and development</b>.<br>Get started quickly and lower your
                        costs. Benefit from new features (e.g., WebGPU support) as
                        xeokit continues to develop.
                    </li>
                </ul>
                <br>
                <br>

                <h3>JavaScript Programming Toolkit</h3>
                <p>An open source toolkit of reusable solutions based on <a href="http://xeolabs.com/portfolio/"
                                                                            target="_portfolio">10+ years experience</a>
                    visualizing 3D BIM and STEM on the
                    Web.</p>
                <ul>
                    <li><b>Fast loading of huge models</b>.<br>One of the most compact geometry formats on the Web.
                        Loads hundreds of megabytes in seconds.
                    </li>
                    <li><b>Fast rendering of many objects</b>.<br>A hardware-accelerated renderer, purpose-built for
                        viewing highly-detailed, real-world engineering models.
                    </li>
                    <li><b>Loads a variety of model formats</b>.<br>Load many models into the same scene, from IFC (2x3
                        and 4), glTF, OBJ, STL, 3DXML, XKT and BIMServer.
                    </li>
                    <li><b>Save and load BCF viewpoints</b>.<br> Build interoperable BIM apps. Connect your application
                        with the BIM ecosystem.
                    </li>
                    <li><b>A complete 3D toolkit</b>.<br>Dynamic scenes, transforms, animations, physically-based
                        materials, dynamic light sources, ambient shadows, interactive section planes, annotations,
                        X-ray, highlight, selection, colorize objects and more.
                    </li>`
                </ul>

                <br>

                <h3>Plugins and Tools Library</h3>
                <p>A growing library of plugins and pipeline tools to accelerate the development of your application,
                    including:</p>

                <ul>
                    <li><b>Navigation</b><br>
                        <a href="https://xeokit.github.io/xeokit-sdk/docs/class/src/plugins/StoreyViewsPlugin/StoreyViewsPlugin.js~StoreyViewsPlugin.html"
                           target="_docs">Plan
                            Views</a>, <a
                                href="https://xeokit.github.io/xeokit-sdk/docs/class/src/plugins/SectionPlanesPlugin/SectionPlanesPlugin.js~SectionPlanesPlugin.html"
                                target="_docs">Section Planes</a>, <a
                                href="https://xeokit.github.io/xeokit-sdk/docs/class/src/plugins/TreeViewPlugin/TreeViewPlugin.js~TreeViewPlugin.html"
                                target="_docs">Tree
                            Views</a>, <a
                                href="hhttps://xeokit.github.io/xeokit-sdk/docs/class/src/extras/ContextMenu/ContextMenu.js~ContextMenu.html"
                                target="_docs">Context
                            Menus</a>, <a
                                href="https://xeokit.github.io/xeokit-sdk/docs/class/src/plugins/NavCubePlugin/NavCubePlugin.js~NavCubePlugin.html"
                                target="_docs">NavCube</a>,
                        <a href="https://xeokit.github.io/xeokit-sdk/docs/class/src/plugins/AxisGizmoPlugin/AxisGizmoPlugin.js~AxisGizmoPlugin.html"
                           target="_docs">Gnomon</a>
                    </li>
                    <li><b>Measurement</b><br><a
                            href="https://xeokit.github.io/xeokit-sdk/docs/class/src/plugins/DistanceMeasurementsPlugin/DistanceMeasurementsPlugin.js~DistanceMeasurementsPlugin.html"
                            target="_docs">Distance
                        Measurement</a>, <a
                            href="https://xeokit.github.io/xeokit-sdk/docs/class/src/plugins/AngleMeasurementsPlugin/AngleMeasurementsPlugin.js~AngleMeasurementsPlugin.html"
                            target="_docs">Angle
                        Measurement</a>
                    </li>
                    <li><b>Collaboration</b><br>
                        <a href="https://xeokit.github.io/xeokit-sdk/docs/class/src/plugins/AnnotationsPlugin/AnnotationsPlugin.js~AnnotationsPlugin.html"
                           target="_docs">3D Annotations</a>,
                        <a href="https://xeokit.github.io/xeokit-sdk/docs/class/src/plugins/BCFViewpointsPlugin/BCFViewpointsPlugin.js~BCFViewpointsPlugin.html"
                           target="_docs">BCF Viewpoints</a>
                    </li>
                    <li><b>Loaders</b><br>
                        <a href="https://xeokit.github.io/xeokit-sdk/docs/class/src/plugins/GLTFLoaderPlugin/GLTFLoaderPlugin.js~GLTFLoaderPlugin.html"
                           target="_docs">glTF</a>, <a
                                href="https://xeokit.github.io/xeokit-sdk/docs/class/src/plugins/OBJLoaderPlugin/OBJLoaderPlugin.js~OBJLoaderPlugin.html"
                                target="_docs">OBJ</a>, <a
                                href="https://xeokit.github.io/xeokit-sdk/docs/class/src/plugins/STLLoaderPlugin/STLLoaderPlugin.js~STLLoaderPlugin.html"
                                target="_docs">STL</a>, <a
                                href="https://xeokit.github.io/xeokit-sdk/docs/class/src/plugins/XKTLoaderPlugin/XKTLoaderPlugin.js~XKTLoaderPlugin.html"
                                target="_docs">XKT</a>, <a
                                href="https://xeokit.github.io/xeokit-sdk/docs/class/src/plugins/XML3DLoaderPlugin/XML3DLoaderPlugin.js~XML3DLoaderPlugin.html"
                                target="_docs">3DXML</a>, <a
                                href="https://xeokit.github.io/xeokit-sdk/docs/class/src/plugins/BIMServerLoaderPlugin/BIMServerLoaderPlugin.js~BIMServerLoaderPlugin.html"
                                target="_docs">BIMServer</a>
                    </li>
                </ul>

                <br>

                <h3>Open Community</h3>
                <p>Join an open community of 3D Web programming experts. Share our tools and get support.</p>
                <ul>
                    <li><a href="https://github.com/xeokit" target="_code">Source Code</a></li>
                    <li><a href="https://xeokit.github.io/xeokit-sdk/examples/#BIMOffline_XKT_OTCConferenceCenter"
                           target="_demo">Live
                        Examples</a></li>
                    <li><a href="https://xeokit.github.io/xeokit-sdk/docs/" target="_docs">Documentation</a></li>
                    <li><a href="https://github.com/xeokit/xeokit-sdk/wiki" target="_wiki">Tutorials</a></li></li>
                </ul>

            </div>
            <div class="col-lg-6">

                <figure class="figure">
                    <a href="./demo.html?projectId=OTCConferenceCenter&tab=storeys"><img
                            class="img-fluid rounded"
                            src="img/xeokit-viewer.png"
                            alt="A 3D IFC model viewer built on the xeokit SDK"></a>
                    <figcaption class="figure-caption  text-center">A bundled BIM viewer to get you started in minutes -
                        <a href="./demo.html"
                           target="_demo">try it out!</a></figcaption>
                </figure>

                <br><br>

                <figure class="figure">
                    <a href="https://github.com/xeokit/xeokit-sdk/wiki/Viewer-Plugins" target="_wiki"><img
                            class="img-fluid"
                            src="img/computer-planview.png"
                            alt=""></a>
                    <figcaption class="figure-caption  text-center">Plugins for real-world BIM and CAD use cases - <a
                            href="https://github.com/xeokit/xeokit-sdk/wiki/Viewer-Plugins" target="_wiki">see the
                        wiki</a></figcaption>
                </figure>

                <br><br>

                <figure class="figure">
                    <a href="https://xeokit.github.io/xeokit-sdk/examples/#loading_3DXML_TreeView" target="_examples"><img
                            class="img-fluid"
                            src="img/computer-gear.png"
                            alt="Importing 3DXML from SolidWorks"></a>
                    <figcaption class="figure-caption  text-center">Load CAD models from SolidWorks - <a
                            href="https://xeokit.github.io/xeokit-sdk/examples/#loading_3DXML_TreeView" target="_examples">try
                        a demo</a></figcaption>
                </figure>

                <br><br>

                <figure class="figure">
                    <a href="https://xeokit.github.io/xeokit-sdk/docs/" target="_docs"><img class="img-fluid"
                                                                                            src="img/computer-sourcecode.png"
                                                                                            alt=""></a>
                    <figcaption class="figure-caption  text-center">A rich programming toolkit - <a
                            href="https://xeokit.github.io/xeokit-sdk/docs/" target="_docs">browse the API docs</a>
                    </figcaption>
                </figure>

                <br><br>

            </div>
        </div>
    </div>

</section>
