<footer class="py-5 bg-dark xeokit-footer">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-4 col-sm-12 mb-3  text-left">
                <h2>xeokit SDK</h2>
                <p>Powering Engineering Graphics on the Web</p>
                <img src="./img/xeokitLogoAlphaBG.png">
            </div>
            <div class="col-md-8 col-sm-12">

                <div class="col-md-4 col-sm-6 col-6 p-0 float-left mb-3">
                    <h5 class="mb-4 font-weight-bold text-uppercase ">Learn</h5>
                    <ul class="list-group">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                                href="./index.html#features">Features</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2 "><a
                                href="./demo.html">Demo</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2 "><a
                                href="./blog.html">Blog</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                                href="./index.html#pricing">Pricing</a></li>

                    </ul>
                </div>

                <div class="col-md-4 col-sm-6 col-6 p-0 mb-3 float-left">
                    <h5 class="mb-4 font-weight-bold text-uppercase ">Develop</h5>
                    <ul class="list-group">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                                href="./download.html">Download</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                                href="https://xeokit.github.io/xeokit-sdk/examples/">Examples</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                                href="https://xeokit.github.io/xeokit-sdk/docs/">Documentation</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                                href="https://github.com/xeokit">Source Code</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                                href="https://github.com/xeokit/xeokit-sdk/wiki/">Wiki</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                                href="https://github.com/xeokit/xeokit-sdk/issues">Issues</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-sm-6 col-6 mb-3 p-0 float-left">
                    <h5 class="mb-4 font-weight-bold text-uppercase ">Connect</h5>
                    <ul class="list-group">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="mailto:lindsay.kay@xeolabs.com?subject=[xeokit.io]%20xeokit%20SDK%20customer%20inquiry">
                                lindsay.kay@xeolabs.com</a>
                        </li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="http://www.xeolabs.com"><i class="fa fa-globe mr-1"></i>
                                xeolabs.com</a>
                        </li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://www.linkedin.com/in/lindsaystanleykay/"><i class="fa fa-linkedin mr-1"></i>
                                LinkedIn</a>
                        </li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://twitter.com/xeolabs"><i class="fa fa-twitter mr-1"></i> Twitter</a>
                        </li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://github.com/xeolabs" target="_code"><i class="fa fa-github mr-1"></i>
                                Github</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="py-4 d-flex justify-content-center align-items-center">
                    <p class="m-0 text-center">Copyright &copy; <a href="http://xeolabs.com">xeolabs</a> 2020</p>
                </div>
            </div>
        </div>
    </div>
</footer>
