<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="xeokit - SDK for Web-Based 3D BIM Visualization">
<meta name="author" content="Lindsay Kay">
<meta name="keywords" content="BIM, IFC, WebGL, JavaScript, Browser, BCF, Web, BIMServer">

<title>xeokit - 3D Web Programming Toolkit for BIM and Engineering Visualization</title>

<link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="./css/business-frontpage.css" rel="stylesheet">
<!--<script src="vendor/jquery/jquery.slim.min.js"></script>-->

<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Bootstrap core JavaScript -->
<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>