<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url('./img/BimdataViewerCropped.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3><a href="https://bimdata.io">Used by BIMData</a></h3>
                </div>
            </div>
            <div class="carousel-item"
                 style="background-image: url('./img/openProject/openProject-10-4-bim.jpeg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3><a href="https://www.openproject.org/openproject-bim-10-4/">Used in OpenProject 10.4</a></h3>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('./img/splash4.png')">
                <div class="carousel-caption d-none d-md-block">
                    <h3><a href="https://github.com/xeokit/xeokit-bim-viewer">xeokit's Bundled BIM Viewer</a>
                    </h3>
                </div>
            </div>

            <!--            <div class="carousel-item " style="background-image: url('./img/planView.png')">-->
            <!--                <div class="carousel-caption d-none d-md-block">-->
            <!--                    <h3><a href="https://github.com/xeokit/xeokit-bim-viewer">github.com/xeokit/xeokit-bim-viewer</a>-->
            <!--                    </h3>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>