<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <a href="./demo.html?projectId=OTCConferenceCenter&tab=storeys"><img
                            class="img-fluid rounded"
                            src="img/xeokit-viewer.png"
                            alt="A 3D IFC model viewer built on the xeokit SDK"></a><br><br>

                    <h3>Powerful</h3>
                    <p class="lead mb-0">Smoothly visualize complex, full-precision models in all major browsers, including
                        mobile.</p>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <a href="https://xeokit.github.io/xeokit-sdk/docs/" target="_docs"><img class="img-fluid"
                                                                                            src="img/computer-sourcecode.png"
                                                                                            alt=""></a><br><br>
                    <h3>Flexible</h3>
                    <p class="lead mb-0">A complete JavaScript graphics toolkit for building custom BIM and CAD
                        viewing applications.</p>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <a href="https://xeokit.github.io/xeokit-sdk/docs/" target="_docs"><img class="img-fluid"
                                                                                            src="img/computer-gear.png"
                                                                                            alt=""></a><br><br>
                    <h3>Liberating</h3>
                    <p class="lead mb-0">Open source components to build your own platform, your way. Keep everything on your
                        own servers.</p>

                </div>
            </div>
        </div>
    </div>
</section>