<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <img
                            class="img-fluid rounded"
                            src="img/xeokit-viewer.png"
                            alt="A 3D IFC model viewer built on the xeokit SDK"><br><br>

                    <h3>Power</h3>
                    <p class="lead mb-0">Visualize complex, double-precision models in all major browsers,
                        including mobile.</p>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <img class="img-fluid" src="img/computer-sourcecode.png" alt=""><br><br>
                    <h3>Flexibility</h3>
                    <p class="lead mb-0">A complete JavaScript graphics toolkit for building BIM and AEC
                        viewing applications.</p>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <img class="img-fluid" src="img/computer-gear.png" alt=""><br><br>
                    <h3>Freedom</h3>
                    <p class="lead mb-0">Open source components to build your own product, your way. Keep everything on
                        your
                        own servers.</p>

                </div>
            </div>
        </div>
    </div>
</section>