<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
    <!--    <div class="container">-->
    <span style="color: #ffffff;"><a class="navbar-home" href="http://xeolabs.com">xeolabs</a>&nbsp;/&nbsp;<a
            class="navbar-brand" href="./index.html">xeokit&nbsp;SDK</a></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" href="./index.html?foo=0">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDemos" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Demos
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownLearn">
                    <a class="dropdown-item" href="./demo.html?projectId=RevitSamples&tab=models">Revit Sample IFC Model</a>
                    <a class="dropdown-item" href="./demo.html?projectId=MAPPointCloud">1.6M Point Cloud Model</a>
                    <a class="dropdown-item" href="./demo.html?projectId=MAP&tab=objects">Full-Precision IFC Model</a>
                    <a class="dropdown-item" href="./demo.html?projectId=OTCConferenceCenter&tab=storeys">Conference Center Model</a>
                    <a class="dropdown-item" href="./demo.html?projectId=Schependomlaan&tab=storeys">Schependomlaan Model</a>
                    <a class="dropdown-item" href="./demo.html?projectId=Schependomlaan_selectedStorey&tab=storeys">Schependomlaan Ground Floor</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./index.html?foo=1#features">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./index.html?foo=1#faq">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./blog.html">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://xeokit.github.io/xeokit-sdk/examples/"
                   target="_demos">Examples</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLearn" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Developers
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownLearn">
                    <a class="dropdown-item" href="https://www.notion.so/xeokit/xeokit-Documentation-4598591fcedb4889bf8896750651f74e">Documentation</a>
                    <a class="dropdown-item" href="https://xeokit.github.io/xeokit-sdk/examples/" target="_examples">Examples</a>
                    <a class="dropdown-item" href="https://xeokit.github.io/xeokit-sdk/docs/" target="_docs">API Reference</a>
                    <a class="dropdown-item" href="https://github.com/xeokit" target="_code">Source Code</a>
                    <a class="dropdown-item" href="https://xeokit.github.io/xeokit-model-conversion-tests/index.html">Model Conversion</a>
                    </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="./index.html?foo=2#pricing">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./download.html">Download</a>
            </li>
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link" href="./index.html?foo=3#connect">Connect</a>-->
            <!--            </li>-->
        </ul>
    </div>
    <!--    </div>-->
</nav>