<section id="pricing" class=" main-section alabaster">
    <div class="container">
        <div class="row testimonial-row">
            <div class="col-lg-12">
                <h1>Pricing</h1>
<br>
                <p>The xeokit SDK is provided under an <a href="https://github.com/xeokit/xeokit-sdk/blob/master/LICENSE.txt">Affero
                    GPL V3</a> for non-commercial use, with the purchase of a licence required for commercial use.</p>
            </div>
        </div>
        <div class="row testimonial-row">

            <div class="col-md-4 mb-5">
                <div class="card  h-100 shadow">
                    <div class="card-header bg-white">
                        <h4 class="card-title">Free License</h4>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Use xeokit in a personal or academic project</li>
                            <li>Perpetual license</li>
                            <li>Full source code</li>
                            <li>Right to modify source and retain changes</li>
                            <li>Free updates forever</li>
                            <li>Does not cover commercial use</li>
                            <li>Under the terms of the <a href="https://github.com/xeokit/xeokit-sdk/blob/master/LICENSE.txt" target="_license">Affero GPL V3</a></li>
                            <li><b>FREE</b></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-5">
                <div class="card  h-100 shadow">
                    <div class="card-header bg-white">
                        <h4 class="card-title">SaaS License</h4>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Use xeokit within your SaaS platform</li>
                            <li>Full source code</li>
                            <li>Right to modify source and retain changes</li>
                            <li>High level support</li>
                            <li>SLA available</li>
                            <li>Training available</li>
                            <li>Flexible terms</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="mailto:lindsay.kay@xeolabs.com?subject=%20xeokit%20SDK%20licensing%20inquiry" class="btn btn-primary">Get in Contact &gt;&gt;</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-5">
                <div class="card  h-100 shadow">
                    <div class="card-header bg-white">
                        <h4 class="card-title">OEM License</h4>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Use xeokit within your OEM product</li>
                            <li>Full source code</li>
                            <li>Right to modify source and retain changes</li>
                            <li>High level support</li>
                            <li>SLA available</li>
                            <li>Training available</li>
                            <li>Flexible terms</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="mailto:lindsay.kay@xeolabs.com?subject=%20xeokit%20SDK%20licensing%20inquiry" class="btn btn-primary">Get in Contact &gt;&gt;</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row testimonial-row">
            <div class="col-lg-12">
                <h3>What's included</h3>
                <p>The licenses give you everything in the <a href="https://github.com/xeokit">xeokit repositories</a> on GitHub and npm, including:</p>

                @@include('../_includes/repositories.html')
            </div>
        </div>
    </div>
</section>