<table class="table table-bordered">
    <tbody>
    <tr>
        <td><a href="https://github.com/xeokit/xeokit-sdk" target="_external"><span class="nowrap">xeokit-sdk</span></a>
        </td>
        <td>The xeokit SDK and plugins.</td>
    </tr>
    <tr>
        <td><a href="https://github.com/xeokit/xeokit-gltf-to-xkt" target="_code"><span
                class="nowrap">xeokit-gltf-to-xkt</span></a>
        </td>
        <td>Multi-platform CLI tool for converting glTF to xeokit's optimized native geometry format.
        </td>
    </tr>
    <tr>
        <td><a href="https://github.com/xeokit/xeokit-metadata" target="_code"><span
                class="nowrap">xeokit-metadata</span></a></td>
        <td>Multi-platform CLI tool from <a href="https://bimspot.io" target="_external">BIMSpot</a> for extracting
            structural metadata
            from IFC STEP files for loading into xeokit.
        </td>
    </tr>
    <tr>
        <td><a href="https://github.com/xeokit/xeokit-viewer" target="_code"><span
                class="nowrap">xeokit-viewer</span></a>
        </td>
        <td>A customizable IFC viewer built on xeokit, in collaboration with <a href="https://openproject.org"
                                                                                target="_external">OpenProject</a>
            - try the <a href="./demo.html">demo</a>!
        </td>
    </tr>

    </tbody>
</table>