<table class="table table-bordered">
    <tbody>
    <tr>
        <td><a href="https://github.com/xeokit/xeokit-sdk" target="_external"><span class="nowrap">xeokit-sdk</span></a>
        </td>
        <td><a href="https://badge.fury.io/js/%40xeokit%2Fxeokit-sdk"><img src="https://badge.fury.io/js/%40xeokit%2Fxeokit-sdk.svg" alt="npm version" height="18"></a></td>
        <td>The xeokit SDK and plugins.</td>
    </tr>
    <tr>
        <td><a href="https://xeokit.github.io/xeokit-bim-viewer/" target="_code"><span
                class="nowrap">xeokit-bim-viewer</span></a>
        </td>
        <td><a href="https://badge.fury.io/js/%40xeokit%2Fxeokit-bim-viewer"><img src="https://badge.fury.io/js/%40xeokit%2Fxeokit-bim-viewer.svg" alt="npm version" height="18"></a></td>
        <td>A customizable IFC viewer built on xeokit, in collaboration with <a href="https://openproject.org"
                                                                                target="_external">OpenProject</a>
            - try the <a href="./demo.html">demo</a>!
        </td>
    </tr>
    <tr>
        <td><a href="https://github.com/xeokit/xeokit-gltf-to-xkt" target="_code"><span
                class="nowrap">xeokit-gltf-to-xkt</span></a>
        </td>
        <td><a href="https://badge.fury.io/js/%40xeokit%2Fxeokit-gltf-to-xkt"><img src="https://badge.fury.io/js/%40xeokit%2Fxeokit-gltf-to-xkt.svg" alt="npm version" height="18"></a></td>
        <td>Multi-platform CLI tool for converting glTF to xeokit's optimized native geometry format.
        </td>
    </tr>
    <tr>
        <td><a href="https://github.com/bimspot/xeokit-metadata" target="_code"><span
                class="nowrap">xeokit-metadata</span></a></td>
        <td></td>
        <td>Multi-platform CLI tool from <a href="https://bimspot.io" target="_external">BIMSpot</a> for extracting
            structural metadata
            from IFC STEP files for loading into xeokit.
        </td>
    </tr>
    </tbody>
</table>