<div class="col-md-4 mb-5">
    <div class="card  h-100 shadow">
        <a href=@@link><img class="card-img-top" src=@@image alt="Card image cap"></a>
        <div class="card-body">
            <h4 class="card-title"><a href=@@link>@@title</a></h4>
            <p class="blog-card-date">@@location</p>
            <p class="card-text">@@text</p>
        </div>
        <div class="card-footer" style="  background-color: white !important;">
            <a href=@@link class="btn btn-primary">Learn more &gt;&gt;</a>
        </div>
    </div>
</div>
