<section id="testimonials" class="main-section">
    <div class="container">
        <div class="row testimonial-row  center-text">
            <div class="col-lg-12">
                <h1>What xeokit's users say</h1>
            </div>
        </div>
        <div class="row testimonial-row">
            <div class="col-sm-9">
                <blockquote><p><b>xeokit is a success enabler for our customers.</b> Incredibly fast load times and
                    super
                    high-performance rendering, even on mobile browsers. Built in a modular way that allowed us
                    to easily customize its behaviour, while allowing us to create a differentiated navigation
                    experience.
                </p>
                    <p>Clean code, with the ability to inspect its internals, was key to our development experience.
                        Teams focused on simple things can start using it with less than ten lines of JavaScript, while
                        more advanced users will find that xeokit can be adapted to meet their advanced use cases.</p>
                    <cite><a href="https://www.linkedin.com/in/toni-mart%C3%AD-392604103/" target="_external">Toni Marti</a>, Software Artist at <a href="https://unizite.info/" target="_external">uniZite
                        AS</a></cite>
                </blockquote>
            </div>
            <div class="col-sm-3">
                <a href="https://unizite.info/" target="_external"><img src="img/logos/unizite-logo.png" class="testimonial-logo-container"
                                                     style="width: 150px;"></a>
            </div>
        </div>
        <div class="row testimonial-row">
            <div class="col-sm-9">
                <blockquote><p><b>xeokit's rich features and detailed documentation</b> allow us to create interactive and
                    customizable web visualization experiences for large-scale BIM models. It also provides us with
                    the possibilities to retrieve data from BIM model for further experiments and insights.</p>
                    <cite><a href="https://www.linkedin.com/in/chloe-c-s-955a22114/">Chloe Sun</a>, Design Technology
                        Specialist at <a href="https://www.hok.com">HOK Architects</a></cite>
                </blockquote>
            </div>
            <div class="col-sm-3">
                <a href="https://www.hok.com" target="_external"><img src="img/logos/hok-logo.jpg" style="width: 100px;"
                                                   class="testimonial-logo-container"></a>
            </div>
        </div>
        <div class="row testimonial-row">
            <div class="col-sm-9">
                <blockquote><p><b>xeokit's unmatched loading and rendering speed</b> enables us to create interactive and
                    customizable Web visualization experiences for large BIM models, even when loading many large models
                    simultaneously. The code is clear and properly documented, the examples are sufficient to
                        understand how everything works, and the API is explicit and complete. These qualities, in
                        combination with xeokit's experienced and skilled community, make xeokit a viable alternative to
                        larger engines such as AutoDesk Forge and Unity.</p>
                        <cite><a href="https://www.linkedin.com/in/hugo-duroux-46262166/" target="_external">Hugo Duroux</a>, Technical
                            Director at <a href="https://bimdata.io" target="_external">BIMData.io</a></cite>
                </blockquote>
            </div>
            <div class="col-sm-3">
                <a href="https://bimdata.io" target="_external"><img src="img/logos/bimdata-logo.png" style="width: 150px;"
                                                  class="testimonial-logo-container"></a><br>
            </div>
        </div>
        <!--        <div class="row testimonial-row">-->
        <!--            <div class="col-sm-9">-->
        <!--                <blockquote><b>Amazing, unmatched loading and rendering speed</b>, we are able to create interactive and-->
        <!--                    customizable web visualization experience for large-scale BIM models. It also provides us with the-->
        <!--                    possibilities to retrieve data from BIM model for further experiments and insights.-->
        <!--                    <cite><a href="https://www.linkedin.com/in/hugo-duroux-46262166/">Hugo Duroux</a>, Technical Director at <a href="https://planradar.com">PlanRadar.com</a></cite>-->
        <!--                </blockquote>-->
        <!--            </div>-->
        <!--            <div class="col-sm-3">-->
        <!--                <a href="https://planradar.com"><img src="img/logos/plan-radar.jpg" style="width: 150px;" class="testimonial-logo-container"></a>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="row testimonial-row">
            <div class="col-sm-9">
                <blockquote><p><b>We have been very impressed with the xeokit SDK's features.</b> Of particular note is
                    xeokit's highly efficient binary .XKT model format, which makes loading and rendering large
                    models faster than ever before. With the wide-ranging feature set offered by the SDK, we have
                    been able to meet most of our product goals so far.</p>
                    <p>Our developers have also spoken about their positive experience. They noted the active
                        development of the project and the quick and helpful responses from xeolabs whenever they had
                        any issues.</p>
                    <cite><a href="https://www.linkedin.com/in/christoph-degendorfer-712287b5"  target="_external">Christoph Degendorfer</a>,
                        - Co-Founder & CEO at <a href="https://bimspot.io" target="_external">bimspot.io</a></cite>
                </blockquote>
            </div>
            <div class="col-sm-3">
                <a href="https://bimspot.io"  target="_external"><img src="img/logos/bimspot-logo.png" style="width: 150px;"
                                                  class="testimonial-logo-container"></a><br>
            </div>
        </div>
    </div>
</section>
