<section class="clients main-section">
    <div class="container" >

        <div class="row testimonial-row center-text">
            <div class="col-lg-12">
                <h1>Used by industry leaders</h1>
            </div>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp shadow"
             style="visibility: visible; animation-name: fadeInUp;">

            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="./blog_xeokit_partners_with_openproject.html">
                    <div class="client-logo"><img
                            alt="" class="img-fluid" src="./img/userLogos/OpenProject-Logo-640x137.png"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="./blog_xeokit_powering_planradar.html">
                    <div class="client-logo"><img
                            alt="" class="img-fluid" src="./img/userLogos/planradar-logo.png"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="./blog_xeokit_partners_with_bimspot.html">
                    <div class="client-logo"><img
                            alt="" class="img-fluid" src="./img/userLogos/bimspot.png"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="./blog_xeokit_partners_with_singular.html">
                    <div class="client-logo"><img
                            alt="" class="img-fluid" src="./img/userLogos/singular.jpg"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="./blog_xeokit_partners_with_dstudio.html">
                    <div class="client-logo"><img
                            alt="" class="img-fluid" src="./img/userLogos/dstudio-logo.png"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.eyeonim.nl/">
                    <div class="client-logo"><img
                            alt="" class="img-fluid" src="./img/userLogos/eyeonim-logo.png"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.hok.com/">
                    <div class="client-logo"><img
                            alt="" class="img-fluid" src="./img/userLogos/hok-logo.jpg"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.tribia.com/en/">
                    <div class="client-logo"><img alt=""
                                                  class="img-fluid" src="./img/userLogos/unizite-logo.png"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="./blog_xeokit_partners_with_congrid.html">
                    <div class="client-logo"><img alt=""
                                                  class="img-fluid" src="./img/userLogos/congrid.png"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="./blog_xeokit_partners_with_openproject.html">
                    <div class="client-logo"><img alt=""
                                                  class="img-fluid" src="./img/userLogos/dbi.jpg"></div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="./blog_xeokit_powering_bimdata.html">
                    <div class="client-logo"><img alt=""
                                                  class="img-fluid" src="./img/userLogos/bimdata-logo.png"></div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.fraunhofer.it/">
                    <div class="client-logo"><img alt=""
                                                  class="img-fluid" src="./img/userLogos/italia_190x52.gif"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://buildsort.com/">
                    <div class="client-logo"><img alt=""
                                                  class="img-fluid" src="./img/userLogos/buildsort-logo.png"></div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://systhema.nl/systhema/">
                    <div class="client-logo"><img alt=""
                                                  class="img-fluid" src="./img/userLogos/Systhema-S-Bestek.jpg"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.gespro.fr">
                    <div class="client-logo"><img alt=""
                                                  class="img-fluid" src="./img/userLogos/gespro.png"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.umb.edu/">
                    <div class="client-logo"><img alt=""
                                                  class="img-fluid" src="./img/userLogos/umas-logo.png"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://fonn.com/features/bim">
                    <div class="client-logo"><img alt=""
                                                  class="img-fluid" src="./img/userLogos/fonn.png"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.tekhne.ch/">
                    <div class="client-logo"><img alt=""
                                                  class="img-fluid" src="./img/userLogos/tekhne.png"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="./blog_creoox_becomes_xeokit_sales_partner.html">
                    <div class="client-logo"><img alt=""
                                                  class="img-fluid" src="./img/userLogos/creoox.png"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.rwth-aachen.de/go/id/a/?lidx=1">
                    <div class="client-logo"><img src="./img/userLogos/rwth-aachen-university.png"
                                                  class="img-fluid" alt=""></div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.e-construmarket.com.br">
                    <div class="client-logo"><img src="./img/trustedByLogos/construmarket.png"
                                                  class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.blindside.pro/">
                    <div class="client-logo"><img src="./img/userLogos/blindSide.png"
                                                  class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://tmm-group.de/">
                    <div class="client-logo"><img src="./img/userLogos/tmm.png"
                                                  class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.build365.de">
                    <div class="client-logo"><img src="./img/userLogos/Build365.png"
                                                  class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://cloudbrixx.de/">
                    <div class="client-logo"><img src="./img/userLogos/cloudbrixx.png" class="img-fluid" alt=""></div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://ark-bim.github.io/">
                    <div class="client-logo"><img src="./img/userLogos/ark-bim.png" class="img-fluid" alt=""></div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.cmdbuild.org/en/homepage">
                    <div class="client-logo"><img src="./img/userLogos/cmd-build.png" class="img-fluid" alt=""></div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.tribia.com">
                    <div class="client-logo"><img src="./img/userLogos/tribia.jpg" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://bexelconsulting.com/">
                    <div class="client-logo"><img src="./img/userLogos/bexel.jpeg" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.tue.nl/en/">
                    <div class="client-logo"><img src="./img/userLogos/eindhoven-logo.png" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.cadlinesw.com/">
                    <div class="client-logo"><img src="./img/userLogos/cadline.png" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://pmgnet.de/">
                    <div class="client-logo"><img src="./img/userLogos/pmg.png" class="img-fluid" alt=""></div>
                </a>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-sm-12 text-center">
                <a class="btn btn-lg btn-outline-primary border-2" href="https://www.notion.so/xeokit/Who-is-using-xeokit-4066f45365ee4959bc850896fc53a801">Read user stories &gt;&gt;</a>
            </div>
        </div>
    </div>

</section>