<section id="clients" >
    <div class="container">

<!--        <div class="row testimonial-row">-->
<!--            <div class="col-lg-12">-->

<!--                <h1>Used by industry leaders</h1>-->
<!--            </div>-->
<!--        </div>-->

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp"
             style="visibility: visible; animation-name: fadeInUp;">
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="./blog_xeokit_partners_with_openproject.html">
                    <div class="client-logo"><img
                            src="./img/userLogos/OpenProject-Logo-640x137.png" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.planradar.com/" target="_other">
                    <div class="client-logo"><img
                            src="./img/userLogos/planradar-logo.png" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="./blog_xeokit_partners_with_bimspot.html">
                    <div class="client-logo"><img
                            src="./img/userLogos/bimspot.png" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="./blog_xeokit_partners_with_singular.html">
                    <div class="client-logo"><img
                            src="./img/userLogos/singular.jpg" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="./blog_xeokit_partners_with_dstudio.html">
                    <div class="client-logo"><img
                            src="./img/userLogos/dstudio-logo.png" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.eyeonim.nl/">
                    <div class="client-logo"><img
                            src="./img/userLogos/eyeonim-logo.png" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.hok.com/">
                    <div class="client-logo"><img
                            src="./img/userLogos/hok-logo.jpg" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://unizite.info/">
                    <div class="client-logo"><img src="./img/userLogos/unizite-logo.png"
                                                  class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo"><img src="./img/userLogos/konstruktum_logo.png" class="img-fluid" alt=""></div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://bimdata.io/">
                    <div class="client-logo"><img src="./img/userLogos/bimdata-logo.png"
                                                  class="img-fluid" alt=""></div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.fraunhofer.it/">
                    <div class="client-logo"><img src="./img/userLogos/italia_190x52.gif"
                                                  class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://buildsort.com/">
                    <div class="client-logo"><img src="./img/userLogos/buildsort-logo.png"
                                                  class="img-fluid" alt=""></div>
                </a>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-sm-12 text-center">
                <a href="./index.html?foo=0#testimonials" class="btn btn-lg btn-outline-primary border-2">What xeokit's users say &gt;&gt;</a>
            </div>
        </div>
    </div>

</section>