<section id="usedby" class="main-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Users</h1>
                <br>
                <p>The xeokit SDK is used and trusted by industry leaders, including:</p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12 text-center">
                <img class="img-responsive rounded no-padding" src="./img/logo-strip.jpg" style="-webkit-filter: grayscale(100%); filter: grayscale(100%);">
            </div>
        </div>
    </div>
    </div>
    <!--    </div>-->
</section>