<section id="usedby" class=" usedby main-section">

    <div class="container">

        <div class="row">
            <div class="flex-container">

                <div class="flex-item">
                    <a href="https://www.openproject.org" target="_other"><img src="./img/userLogos/OpenProject-Logo-640x137.png" alt="2" class="img-responsive"/></a>
                </div>
                <div class="flex-item">
                    <a href="https://www.planradar.com/" target="_other"><img src="./img/userLogos/planradar-logo.png" alt="3" class="img-responsive"/></a>
                </div>
                <div class="flex-item">
                    <a href="https://bimspot.io/" target="_other"><img src="./img/userLogos/bimspot.png" alt="4" class="img-responsive"/></a>
                </div>
                <div class="flex-item">
                    <a href="http://dstudio.be/" target="_other"><img src="./img/userLogos/dstudio-logo.png" alt="5" class="img-responsive"/></a>
                </div>

                <div class="flex-item">
                    <a href="https://www.eyeonim.nl/" target="_other"><img src="./img/userLogos/eyeonim-logo.png" alt="6" class="img-responsive"/></a>
                </div>

                <div class="flex-item">
                    <a href="https://www.hok.com/" target="_other"><img src="./img/userLogos/hok-logo.jpg" alt="7" class="img-responsive"/></a>
                </div>
                <div class="flex-item">
                    <img src="./img/userLogos/konstruktum_logo.png" alt="8" class="img-responsive"/>
                </div>
                <div class="flex-item">
                    <a href="https://unizite.info/"> <img src="./img/userLogos/unizite-logo.png" alt="9" class="img-responsive"/></a>
                </div>
                <div class="flex-item">
                    <a href="https://bimdata.io/"> <img src="./img/userLogos/bimdata-logo.png" alt="10" class="img-responsive"/></a>
                </div>
                <div class="flex-item">
                    <a href="https://www.fraunhofer.it/"> <img src="./img/userLogos/italia_190x52.gif" alt="12" class="img-responsive"/></a>
                </div>
            </div>
        </div>
    </div>

</section>