<section id="usedby" class="main-section">

    <div class="container mt-3">
        <div class="row">
<!--            <div class="col-6 col-md-2 mb-3"><img class="used-by" src="./img/logos/bimdata-logo.png" alt=""></div>-->
            <div class="col-6 col-md-2 mb-3"><img class="used-by" src="./img/logos/bimspot.png" alt=""></div>
<!--            <div class="col-6 col-md-2 mb-3"><img class="used-by" src="./img/logos/dstudio-logo.png" alt=""></div>-->
            <div class="col-6 col-md-2 mb-3"><img class="used-by" src="./img/logos/eyeonim-logo.png" alt=""></div>
<!--            <div class="col-6 col-md-2 mb-3"><img class="used-by" src="./img/logos/hok-logo.jpg" alt=""></div>-->
            <div class="col-6 col-md-2 mb-3"><img class="used-by" src="./img/logos/konstruktum_logo.png" alt=""></div>
            <div class="col-6 col-md-2 mb-3"><img class="used-by" src="./img/logos/OpenProject-Logo-640x137.png" alt=""></div>
            <div class="col-6 col-md-2 mb-3"><img class="used-by" src="./img/logos/planradar-logo.png" alt=""></div>
            <div class="col-6 col-md-2 mb-3"><img class="used-by" src="./img/logos/unizite-logo.png" alt=""></div>
        </div>
    </div>
<!--    -->
<!--    <div class="container">-->
<!--        <div class="row">-->

<!--            -->

<!--            <div class="col-md-12 text-center">-->
<!--                <img class="img-responsive rounded no-padding" src="./img/logo-strip2.jpg" style="-webkit-filter: grayscale(50%); filter: grayscale(50%);">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</section>