$font-family-open: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


$theme-color-primary: #3579f6;
$theme-color-white: #ffffff;
$theme-color-black: #000000;
$theme-color-brown: #a08a61;

$theme-gradient: linear-gradient(109.32deg, #eff3f5 26.68%, #b8d2e4 76.94%);
